%h1
  New Activity on a #{@project.class.name} by #{@from_user.name}
%p
  Dear fellow band member,
%p
  Just thought you might like to know,
  #{@from_user.name} has New Active on a #{@project.class.name}.
%p
  = link_to 'Go check it out', @project
