.cell
  %div{id: "track_#{track.id}"}
    .grid-x
      .small-10.cell
        .bar
          = link_to rails_blob_path(track, disposition: :attachment),
          title: 'Download', id: "download_link_#{track.id}",
          data: { project: @project.id, track: track.id } do
            = display_track(track)
          - if params[:action] == 'edit' || params[:project_id]
            = link_to project_track_path(project, track),
            remote: false, title: 'Remove', method: :delete do
              %i.fas.fa-trash.remove_link
      .small-2.cell
        %div{class: "download_status_#{track.id}"}
          - if current_user.downloaded_tracks.find_by(project: project, track_id: track.id)
            %i.fas.fa-cloud-download-alt.downloaded
