= form_with model: @project, local: true, id: 'project_form' do |f|
  = render 'notifications/error_messages', object: f.object

  .grid-x
    .cell
      .field
        = f.label :name
        = f.text_field :name
  .grid-x
    .cell
      .field
        = f.label :tracks
        = f.file_field :tracks, multiple: true, direct_upload: true
  .grid-x
    .medium-6.cell
      .actions
        .callout.alert.center
          %h3 Warning
          Do NOT leave the page while upload is in progress!
        = f.submit class: 'button'
  .grid-x
    - if f.object.reload.tracks.attached?
      - f.object.tracks.each do |track|
        = render 'tracks/track', project: f.object, track: track
