.grid-x
  .cell
    %p
      %ul.menu.simple
        %li= link_to 'Finished Editing', @project
        %li= link_to 'All projects', projects_path

    %h1 Editing project

    = render 'projects/form'

    %p
      %ul.menu.simple
        %li= link_to 'Finished Editing', @project
        %li= link_to 'All projects', projects_path
