.grid-x
  .cell
    %h1= @project.name
.grid-x
  .medium-6.cell
    - if @project.tracks.attached?
      - @project.tracks.each do |track|
        .track_bar
          = link_to rails_blob_path(track, disposition: :attachment),
          title: 'Download' do
            = display_track(track)
.grid-x
  .cell
    %br/
    %ul.menu.simple
      %li= link_to 'Edit', edit_project_path(@project)
      %li= link_to 'All projects', projects_path
