.grid-x
  .cell
    %h1= @project.name
.grid-x
  - if @project.tracks.attached?
    - if @project.new_tracks(current_user).any?
      .cell New tracks
      - @project.new_tracks(current_user).each do |track|
        = render 'tracks/track', project: @project, track: track
      %br/
    - if @project.old_tracks(current_user).any?
      .cell Viewed tracks
      - @project.old_tracks(current_user).each do |track|
        = render 'tracks/track', project: @project, track: track
.grid-x
  .cell
    %br/
    %ul.menu.simple
      %li= link_to 'Edit', edit_project_path(@project)
      %li= link_to 'All projects', projects_path
